<!DOCTYPE html>
<html>
<head>
  <title>SUJETS DE RECHERCHE</title>
</head>
<body>
  <hr />
<p>title: &ldquo;SUJETS DE RECHERCHE&rdquo;
date: 2019-09-09
coverImage: &ldquo;health-1.png&rdquo;</p>
<hr />
<p><img alt="" src="/assets/images/AXE.gif" /></p>
<p>Les axes de recherche stratégiques servent de cadre de références concret pour alimenter la recherche théorique sur les technologies et méthodologies visant à garantir une IA sûre, inclusive, digne de confiance et responsable. La dimension des politiques d’appropriation de l’IA est donc une préoccupation majeure dans notre approche interdisciplinaire.</p>
</body>
</html>