<!DOCTYPE html>
<html>
<head>
  <title>Accueil</title>
</head>
<body>
  <hr />
<p>title: &ldquo;Accueil&rdquo;
date: 2021-09-16
draft: true</p>
<hr />
<p><img alt="" src="/assets/images/home-image-1.png" /> <img alt="" src="/assets/images/Vector_Smart_Object_copy_17.png" /> <img alt="" src="/assets/images/Vector_Smart_Object-2.png" /> <img alt="" src="/assets/images/Vector2_Smart_Object.png" /></p>
<p>[CITADEL]</p>
<h2 id="nous-construisons-les-talents-et-les-capacites-en-ia-pour-le-burkina-faso-et-lafrique-francophone"><strong>Nous construisons les Talents et les Capacités en IA pour le Burkina Faso et l&rsquo;Afrique Francophone</strong></h2>
<p>UNIVERSITE VIRTUELLE BURKINA FASO</p>
<p><img alt="" src="/assets/images/home-image-1.png" /> <img alt="" src="/assets/images/Vector_Smart_Object_copy_17.png" /> <img alt="" src="/assets/images/Vector_Smart_Object-2.png" /> <img alt="" src="/assets/images/Vector2_Smart_Object.png" /></p>
<p>[CITADEL]</p>
<h4 id="nous-construisons-les-talents-et-les-capacites-en-ia-pour-le-burkina-faso-et-lafrique-francophone_1"><strong>Nous construisons les Talents et les Capacités en IA pour le Burkina Faso et l&rsquo;Afrique Francophone</strong></h4>
<p>UNIVERSITE VIRTUELLE BURKINA FASO</p>
<p><a href="#">REJOIGNEZ NOUS</a> <a href="#">REJOIGNEZ NOUS</a></p>
<h2 id="inauguration">INAUGURATION</h2>
<p><a href="https://www.youtube.com/"></a><a href="#"></a><img alt="" src="/assets/images/faveIcon-small.png" /> <img alt="" src="/assets/images/Vector1_Smart_Object.png" /> PARTENAIRES</p>
<h6 id="partenaires">PARTENAIRES</h6>
<h3 id="partenaires_1">PARTENAIRES</h3>
<p><img alt="" src="/assets/images/UVBF.png" /></p>
<h6 id="partenaire">PARTENAIRE</h6>
<h5 id="hote">Hôte</h5>
<p><a href="https://uv.bf">Savoir Plus</a> <img alt="" src="/assets/images/openBurkina.png" /></p>
<h6 id="partenaire_1">PARTENAIRE</h6>
<h5 id="operationnel">Opérationnel</h5>
<p><a href="https://www.openburkina.bf">Savoir Plus</a> <img alt="" src="/assets/images/cidr.png" /> <img alt="" src="/assets/images/sida.png" /></p>
<h6 id="partenaire_2">PARTENAIRE</h6>
<h4 id="bailleur">Bailleur</h4>
<p><a href="https://www.idrc.ca">Savoir Plus</a> <img alt="" src="/assets/images/ai4d-africa.png" /></p>
<h6 id="partenaire_3">PARTENAIRE</h6>
<h5 id="thematique">Thématique</h5>
<p><a href="https://africa.ai4d.ai">Savoir Plus</a></p>
<h1 id="citadel">[CITADEL]</h1>
<p><img alt="" src="/assets/images/increase-26-2.png" /></p>
<h5 id="recherche">RECHERCHE</h5>
<p><img alt="" src="/assets/images/increase-25-3.png" /></p>
<h5 id="innovation">INNOVATION</h5>
<p><img alt="" src="/assets/images/increase-24.png" /></p>
<h5 id="developpement">DEVELOPPEMENT</h5>
<h1 id="citadel_1">[CITADEL]</h1>
<p><img alt="" src="/assets/images/increase-26-2.png" /></p>
<h5 id="recherche_1">RECHERCHE</h5>
<p><img alt="" src="/assets/images/increase-25-3.png" /></p>
<h5 id="innovation_1">INNOVATION</h5>
<p><img alt="" src="/assets/images/increase-24.png" /></p>
<h5 id="developpement_1">DEVELOPPEMENT</h5>
<p>ACTIVITES</p>
<h6 id="activites">ACTIVITES</h6>
<h3 id="nos-activites">Nos Activités</h3>
<p><img alt="" src="/assets/images/analyer.png" /></p>
<h4 id="analyser">ANALYSER</h4>
<p>l&rsquo;état de l&rsquo;art de la recherche fondamentale en IA, avec une perspective locale africaine</p>
<p><img alt="" src="/assets/images/former.png" /></p>
<h4 id="former">FORMER</h4>
<p>(en considérant les couches sociales les moins représentées, notamment la question du genre) pour dynamiser l’industrie locale de l’IA.</p>
<p><img alt="" src="/assets/images/coordonner.png" /></p>
<h4 id="coordonner">COORDONNER</h4>
<p>de manière holistique sur la mise en œuvre et le déploiement de modèles d’IA dans des applications concrètes contextualisées</p>
<p><img alt="" src="/assets/images/demontrer.png" /></p>
<h4 id="demontrer">DEMONTRER</h4>
<p>de manière systématique les risques de l’IA afin d’informer les pouvoirs publics et la société civile sur les insuffisances des régulations locales.</p>
<p><img alt="" src="/assets/images/Vector_Smart_Object_copy_17.png" /></p>
<p>ARTICLES RECENTS​</p>
<h2 id="actualites">Actualités</h2>
<p><a href="https://citadel.bf/index.php/2022/01/22/appel-a-candidature-bourses-de-stage-pour-des-memoires-dexcellence-en-ia/" title="APPEL À CANDIDATURE : Bourses de Stage pour des Mémoires d’Excellence en IA"></a></p>
<h4 id="appel-a-candidature-bourses-de-stage-pour-des-memoires-dexcellence-en-ia"><a href="https://citadel.bf/index.php/2022/01/22/appel-a-candidature-bourses-de-stage-pour-des-memoires-dexcellence-en-ia/" title="APPEL À CANDIDATURE : Bourses de Stage pour des Mémoires d’Excellence en IA">APPEL À CANDIDATURE : Bourses de Stage pour des Mémoires d’Excellence en IA</a></h4>
<p><a href="https://citadel.bf/index.php/2021/11/03/30299/" title="[#CITADEL] : Cérémonie officielle de lancement"></a></p>
<h4 id="citadel-ceremonie-officielle-de-lancement"><a href="https://citadel.bf/index.php/2021/11/03/30299/" title="[#CITADEL] : Cérémonie officielle de lancement">[#CITADEL] : Cérémonie officielle de lancement</a></h4>
<p><a href="https://citadel.bf/index.php/2021/10/27/citadel-lancement-officiel/" title="[CITADEL] : Lancement officiel"></a></p>
<h4 id="citadel-lancement-officiel"><a href="https://citadel.bf/index.php/2021/10/27/citadel-lancement-officiel/" title="[CITADEL] : Lancement officiel">[CITADEL] : Lancement officiel</a></h4>
<p>31</p>
<h2 id="31">31</h2>
<h4 id="successful-projects">Successful Projects</h4>
<p>28</p>
<h2 id="28">28</h2>
<h4 id="experienced-consultants">Experienced Consultants</h4>
<p>75</p>
<h2 id="75">75</h2>
<h4 id="satisfied-clients">Satisfied Clients</h4>
<p>91</p>
<h2 id="91">91</h2>
<h4 id="awards-won">Awards Won</h4>
<p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.”</p>
<h4 id="dame-judy-dench">Dame Judy Dench</h4>
<h6 id="ceo-gigatron">CEO, GIGATRON</h6>
<p>&ldquo;</p>
<p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.”</p>
<h4 id="dame-judy-dench_1">Dame Judy Dench</h4>
<h6 id="ceo-gigatron_1">CEO, GIGATRON</h6>
<p>&ldquo;</p>
<p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.”</p>
<h4 id="dame-judy-dench_2">Dame Judy Dench</h4>
<h6 id="ceo-gigatron_2">CEO, GIGATRON</h6>
<p>&ldquo;</p>
<p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.”</p>
<h4 id="dame-judy-dench_3">Dame Judy Dench</h4>
<h6 id="ceo-gigatron_3">CEO, GIGATRON</h6>
<p>&ldquo;</p>
<p>31 <em>%</em></p>
<h4 id="succesful-projects">Succesful Projects</h4>
<p>45 <em>%</em></p>
<h4 id="experienced-consultants_1">Experienced Consultants</h4>
<p>45 <em>%</em></p>
<h4 id="satisfied-clients_1">Satisfied Clients</h4>
<p>45 <em>%</em></p>
<h4 id="awards-won_1">Awards Won</h4>
</body>
</html>