<!DOCTYPE html>
<html>
<head>
  <title>Publications</title>
</head>
<body>
  <hr />
<p>title: &ldquo;Publications&rdquo;
date: 2021-10-01
draft: true</p>
<hr />
<p><a href="https://citadel.bf/?p=1151" title="SaaS and the cloud: A primer for IT pros"></a></p>
<h4 id="saas-and-the-cloud-a-primer-for-it-pros"><a href="https://citadel.bf/?p=1151" title="SaaS and the cloud: A primer for IT pros">SaaS and the cloud: A primer for IT pros</a></h4>
<p><a href="https://citadel.bf/?p=4654" title="The Future of Cloud-Based Products"></a></p>
<h4 id="the-future-of-cloud-based-products"><a href="https://citadel.bf/?p=4654" title="The Future of Cloud-Based Products">The Future of Cloud-Based Products</a></h4>
<p><a href="https://citadel.bf/?p=4661" title="Cloud computing: SaaS, IaaS or PaaS"></a></p>
<h4 id="cloud-computing-saas-iaas-or-paas"><a href="https://citadel.bf/?p=4661" title="Cloud computing: SaaS, IaaS or PaaS">Cloud computing: SaaS, IaaS or PaaS</a></h4>
<p><a href="https://citadel.bf/index.php/2020/10/16/a-complete-guide-to-customer-communication/" title="What are the advantages of SaaS?"></a></p>
<h4 id="what-are-the-advantages-of-saas"><a href="https://citadel.bf/index.php/2020/10/16/a-complete-guide-to-customer-communication/" title="What are the advantages of SaaS?">What are the advantages of SaaS?</a></h4>
<p><a href="https://citadel.bf/?p=12543" title="What is Organizational Development and Why is it Important?"></a></p>
<h4 id="what-is-organizational-development-and-why-is-it-important"><a href="https://citadel.bf/?p=12543" title="What is Organizational Development and Why is it Important?">What is Organizational Development and Why is it Important?</a></h4>
<h4 id="bonjour-tout-le-monde"><a href="https://citadel.bf/?p=1" title="Bonjour tout le monde !">Bonjour tout le monde !</a></h4>
</body>
</html>