<!DOCTYPE html>
<html>
<head>
  <title>Membres</title>
</head>
<body>
  <hr />
<p>title: &ldquo;Membres&rdquo;
date: 2021-09-17</p>
<hr />
<p><img alt="home-image-2" src="images/home-image-2.png" title="home-image-2" /> EQUIPE</p>
<h6 id="equipe">EQUIPE</h6>
<h3 id="equipe-initial">EQUIPE INITIAL</h3>
<p><img alt="" src="/assets/images/DrBissyande.png" /></p>
<p>Dr. Tégawenddé F. BISSYANDE</p>
<h4 id="chercheur-principal">Chercheur principal</h4>
<p><img alt="" src="/assets/images/DrSabane.png" /></p>
<p>Dr. Aminata Sabané</p>
<h4 id="adjointe-au-chercheur-principal">Adjointe au chercheur principal</h4>
<p><img alt="" src="/assets/images/Tinto.png" /></p>
<p>Teg-Wende Idriss Tinto</p>
<h4 id="responsable-du-transfert-de-technologie">Responsable du transfert de technologie</h4>
<p>LEADERS</p>
<h6 id="leaders">LEADERS</h6>
<h3 id="les-leaders-et-co-leads-des-axes-strategiques-de-recherche">Les leaders et co-leads des axes stratégiques de recherche</h3>
<p><img alt="" src="/assets/images/ICON-50x100-1.png" /></p>
<h6 id="dr-serge-a-sawadogo">Dr Serge A. Sawadogo</h6>
<p><img alt="" src="/assets/images/ICON-50x100-1.png" /></p>
<h6 id="pr-francois-zougmore">Pr. François Zougmoré</h6>
<p><img alt="" src="/assets/images/ICON-50x100-1.png" /></p>
<h6 id="dr-tizane-daho">Dr. Tizane Daho</h6>
<p><img alt="" src="/assets/images/ICON-50x100-1.png" /></p>
<h6 id="dr-inoussa-traore">Dr. Inoussa Traoré</h6>
<p><img alt="" src="/assets/images/ICON-50x100-1.png" /></p>
<h6 id="dr-tiatite-noufe">Dr. Tiatité Noufé</h6>
<p><img alt="" src="/assets/images/ICON-50x100-1.png" /></p>
<h6 id="dr-yacouba-n-nacambo">Dr. Yacouba N. Nacambo</h6>
</body>
</html>