<!DOCTYPE html>
<html>
<head>
  <title>MISSIONS</title>
</head>
<body>
  <hr />
<p>title: &ldquo;MISSIONS&rdquo;
date: 2022-05-03</p>
<hr />
<h1 id="mission">MISSION</h1>
<p>Notre ambition est de complémenter les initiatives existantes en développant davantage les compétences techniques (ex : sur les architectures algorithmiques, les processus d’apprentissage, les applications concrètes, etc.) dans un centre d’excellence où les perspectives de différentes disciplines sont rapprochées pour mieux appréhender et surmonter de manière holistique les défis du développement de l’IA dans les pays en développement.</p>
<p>01.</p>
<h2 id="recherche">RECHERCHE</h2>
<p>Mettre en œuvre l&rsquo;ensemble des théories et des techniques en vue de rendre des machines capables de simuler l&rsquo;intelligence humaine</p>
<p><img alt="Image" src="images/Chercheur.png" /></p>
<p>02.</p>
<h2 id="innovation">INNOVATION</h2>
<p>Amplifiez les talents africains de l&rsquo;IA.</p>
<p><img alt="Image" src="images/interdisciplinaire.png" /></p>
<p>03.</p>
<h2 id="developpement">DEVELOPPEMENT</h2>
<p>Utiliser l&rsquo;Intelligence Artificielle comme levier de développement</p>
<p><img alt="Image" src="images/Collaboration.png" /></p>
<p><a href="javascript:;"></a></p>
<p>ANALYSER l&rsquo;état de l&rsquo;art de la recherche fondamentale en IA, avec une perspective locale africaine</p>
<p>FORMER (en considérant les couches sociales les moins représentées, notamment la question du genre) pour dynamiser l’industrie locale de l’IA.</p>
<p>COORDONNER de manière holistique sur la mise en œuvre et le déploiement de modèles d’IA dans des applications concrètes contextualisées.</p>
<p>DEMONTRER de manière systématique les risques de l’IA afin d’informer les pouvoirs publics et la société civile sur les insuffisances des régulations locales.</p>
<h3 id="01analyser"><strong>01.</strong>ANALYSER</h3>
<p>-----</p>
<h3 id="next-former"><strong>Next:</strong> FORMER</h3>
<p>-----</p>
<h3 id="02former"><strong>02.</strong>FORMER</h3>
<p>-----</p>
<h3 id="next-coordonner"><strong>Next:</strong> COORDONNER</h3>
<p>-----</p>
<h3 id="03coordonner"><strong>03.</strong>COORDONNER</h3>
<p>-----</p>
<h3 id="next-demontrer"><strong>Next:</strong> DEMONTRER</h3>
<p>-----</p>
<h3 id="04demontrer"><strong>04.</strong>DEMONTRER</h3>
<p>-----</p>
<h3 id="prev-analyser"><strong>Prev:</strong> ANALYSER</h3>
<p>-----</p>
<h2 id="citadel">[CITADEL]</h2>
<p><strong>Nous construisons les Talents et les Capacités en IA pour le</strong> Burkina Faso <strong>et l&rsquo;Afrique Francophone</strong></p>
<p><a href="#">Contactez-nous</a></p>
<h5 id="master-interdisciplinaire-en-sciences-des-donnees-mids">Master Interdisciplinaire en Sciences des Données (MIDS)</h5>
<hr />
<p><img alt="" src="/assets/images/MIDS.png" /></p>
<p>Avec le Master MIDS, nous développerons un programme de deux ans où les diplômés seront dotés de savoir-faire technique et commercial leur permettant d&rsquo;entrer en toute confiance dans le secteur de l&rsquo;IA et de la science des données (que ce soit dans la recherche ou dans la pratique professionnelle) une fois leur diplôme obtenu.</p>
<h5 id="une-recherche-pour-le-monde-reel">[Une recherche pour le monde réel]</h5>
<p>L&rsquo;ensemble du programme MIDS est ancré dans le contexte de collaboration de CITADEL avec des partenaires locaux non-universitaires. Nos projets de recherche offriront aux étudiants la possibilité de discuter avec des acteurs institutionnels (par exemple, avec le département gouvernemental chargé de la transformation numérique), d&rsquo;analyser des jeux de données du monde réel (par exemple, avec notre partenaire Open Burkina) et de relever les défis de l&rsquo;industrie (par exemple, avec nos partenaires start-up tels que Tech Pôle Expertise) tout en restant immergés dans un environnement universitaire exigeant.</p>
<h5 id="apprendre-aupres-dexperts-sectoriels-et-duniversitaires">[Apprendre auprès d&rsquo;experts sectoriels et d&rsquo;universitaires]</h5>
<p>Partage sur l&rsquo;éthique entrepreneuriale ainsi que l&rsquo;expertise technique avec la prochaine génération de chercheurs en IA et de leaders industriels au Burkina.</p>
<h5 id="penser-au-dela-des-disciplines">[Penser au-delà des disciplines]</h5>
<p>Le MIDS mobilisera des universitaires issus de divers horizons, notamment l&rsquo;ingénierie des systèmes d&rsquo;IA, l&rsquo;Internet des Objets et l&rsquo;électronique, la physique et l&rsquo;énergie, la santé, le droit et l&rsquo;économie, etc. La collaboration et les échanges interdisciplinaires que les étudiants découvrent dans le MIDS leur donnent les bases méthodologiques dont ils ont besoin pour choisir leur devenir.</p>
<hr />
<p>L&rsquo;équipe initiale a été constituée sur la base d&rsquo;expériences professionnelles antérieures. Cependant, le Centre est ouvert à tous les universitaires du pays et de la région, afin de tirer parti des moyens de recherche qui seront déployés.</p>
<h5 id="inclusion-des-femmes">[Inclusion des femmes]</h5>
<p>Dans le cadre de CITADEL, et dans l’optique de tendre vers la parité du genre, un plaidoyer sera fait auprès des femmes qualifiés pour rejoindre le centre CITADEL.</p>
<h5 id="inclusion-des-talents-issus-des-regions-sous-representes">[Inclusion des talents issus des régions sous-représentés]</h5>
<p>L’Université virtuelle du Burkina Faso a pour ambition de démocratiser l’enseignement supérieur sur tout le territoire national, surtout dans les régions (hors capitales politique et économique). Notre ambition est de mettre en place une stratégie qui assure que des étudiants en Licence issus de différentes régions du pays rejoignent le MIDS.</p>
<h5 id="integration-des-chercheurs-et-recrutement-inclusif">Intégration des chercheurs et Recrutement Inclusif</h5>
<hr />
<p><img alt="" src="/assets/images/Chercheur.png" /></p>
<hr />
<h5 id="approche-interdisciplinaire">Approche interdisciplinaire</h5>
<hr />
<p><img alt="" src="/assets/images/interdisciplinaire.png" /></p>
<p>En tant que centre de recherche axé sur l&rsquo;innovation scientifique dans les applications de l&rsquo;IA, nos activités sont définies par un modèle de collaboration dans lequel nous travaillons avec des partenaires (gouvernements, industrie, société civile, etc.) pour résoudre un défi qu&rsquo;ils ont à relever. Notre approche interdisciplinaire repose sur plusieurs actions complémentaires</p>
<h5 id="infrastructure">[Infrastructure]</h5>
<p>Nous fournissons un espace unique où différentes disciplines se rencontrent pour susciter un dialogue innovant et une fertilisation croisée des idées.</p>
<h5 id="financement">[Financement]</h5>
<p>Nous encourageons la collaboration entre les disciplines en attribuant des fonds de recherche (par exemple, des bourses) à des projets proposés conjointement par des chercheurs d&rsquo;au moins deux disciplines.</p>
<h5 id="sensibilisation">[Sensibilisation]</h5>
<p>Nous veillons à ce que nos recherches soient motivées par les questions et les besoins de nos partenaires.</p>
<h5 id="colloques">[Colloques]</h5>
<p>Nous nous engageons dans une recherche interdisciplinaire scientifique et stimulante par le biais de séminaires et de conférences avec des chercheurs distingués du monde entier.</p>
<h5 id="vulgarisation">[Vulgarisation]</h5>
<p>Nous réunissons régulièrement nos chercheurs pour discuter avec une perspective pluridisciplinaire les défis de l’IA auprès du grand public.</p>
<hr />
<p>En sus du partenaire du projet (Open Burkina), le développement du centre CITADEL se fera grâce aux collaborations qui existent déjà entre l’Université Virtuelle du Burkina Faso et d’autres institutions nationales et internationales. éployés.</p>
<h5 id="universite-du-luxembourg">[Université du Luxembourg]</h5>
<p>Le programme « Sciences du Numérique » de l’Université Virtuelle du Burkina Faso a signé une convention (Memorandum of Understanding) avec le centre interdisciplinaire (SnT) de l’Université du Luxembourg dans lequel l’Intelligence Artificielle est un axe important de collaboration. Avec le Centre CITADEL, des voyages d’études et des conférences sont envisagées pour bénéficier de l’expérience du centre et de ses chercheurs : le centre SnT a une culture axée sur le transfert de technologie vers l’industrie, un objectif important pour CITADEL.</p>
<h5 id="agence-nationale-de-promotion-des-tic-anptic">[Agence Nationale de Promotion des TIC (ANPTIC)]</h5>
<p>L’Université Virtuelle du Burkina Faso bénéficie de l’appui infrastructurelle (datacenter + connectivité) de l’ANPTIC qui est son partenaire naturel dans le cadre de la formation de l’élite dans les métiers des TICs. Avec l’appui de l’agence (salle datacenter, gestion énergie, gestion de la maintenance), la gestion et l’utilisation optimale des équipements achetés dans le cadre de CITADEL seront assurées.</p>
<h5 id="les-principales-universites-publiques-du-pays">[Les principales universités publiques du pays]</h5>
<p>Les membres de l’équipe de chercheurs de CITADEL viennent des différentes universités du Burkina Faso, ce qui établit déjà une synergie dans tout l’écosystème de l’enseignement supérieur du pays autour de l’initiative de l’Université Virtuelle du Burkina Faso. CITADEL demeure également ouvert à tous les universitaires qui voudront y héberger des étudiants pour des stages de Master dans des thématiques liées à l’Intelligence Artificielle.</p>
<h5 id="collaborations-nationales-internationales">Collaborations nationales &amp; Internationales</h5>
<hr />
<p><img alt="" src="/assets/images/Collaboration.png" /></p>
</body>
</html>