<!DOCTYPE html>
<html>
<head>
  <title>Membres</title>
</head>
<body>
  <hr />
<p>title: &ldquo;Membres&rdquo;
date: 2022-05-03</p>
<hr />
<h1 id="membres">MEMBRES</h1>
<p>CITADEL : <strong>Centre d’Excellence Interdisciplinaire en Intelligence Artificielle pour le Développement</strong>.<strong> |</strong>  </p>
<p><img alt="Image" src="images/showcase-mockup-1.svg" /></p>
<p>EQUIPE INITIALE</p>
<h2 id="des-chercheurs-a-lecoute-des-problematiques-locales">Des chercheurs à l&rsquo;écoute des problématiques locales</h2>
<p>Nos équipes de chercheurs vous accompagnent au quotidien</p>
<p><img alt="team-member" src="images/CITADEL-DrBissyande-min.png" /></p>
<h3 id="dr-tegawende-f-bissyande"><strong>Dr. Tégawendé F. BISSYANDE</strong></h3>
<p>Chercheur principal</p>
<p><img alt="team-member" src="images/CITADEL-DrSabane-min.png" /></p>
<h3 id="dr-aminata-zerbosabane"><strong>Dr. Aminata ZERBO/SABANE</strong></h3>
<p>Adjointe au chercheur principal</p>
<p><img alt="team-member" src="images/CITADEL-MrTinto-min.png" /></p>
<h3 id="teg-wende-idriss-tinto">Teg-Wende Idriss TINTO</h3>
<p>Responsable du transfert de technologie</p>
<p>Leaders</p>
<h2 id="les-leaders-et-co-leads">Les leaders et co-leads</h2>
<p>des axes stratégiques de recherche</p>
<p><img alt="team-member" src="images/CITADEL-M-min.png" /></p>
<h3 id="dr-serge-a-sawadogo">Dr Serge A. Sawadogo</h3>
<p>.</p>
<p><img alt="team-member" src="images/CITADEL-M-min.png" /></p>
<h3 id="pr-francois-zougmore">Pr. François Zougmoré</h3>
<p>.</p>
<p><img alt="team-member" src="images/CITADEL-M-min.png" /></p>
<h3 id="dr-tizane-daho">Dr. Tizane Daho</h3>
<p>.</p>
<p><img alt="team-member" src="images/CITADEL-M-min.png" /></p>
<h3 id="dr-inoussa-traore">Dr. Inoussa Traoré</h3>
<p>.</p>
<p><img alt="team-member" src="images/CITADEL-M-min.png" /></p>
<h3 id="dr-tiatite-noufe">Dr. Tiatité Noufé</h3>
<p>.</p>
<p><img alt="team-member" src="images/CITADEL-M-min.png" /></p>
<h3 id="dr-yacouba-n-nacambo">Dr. Yacouba N. Nacambo</h3>
<p>.</p>
</body>
</html>